<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- nameSpace = package _ interface -->
<mapper namespace="org.zerock.image.mapper.ImageMapper">

	<!-- 1. Image List -->	
	<select id="list" resultType="org.zerock.image.vo.ImageVO">
		SELECT rnum, no, title, id, writeDate, fileName
		FROM (
			SELECT rownum rnum, no, title, id, writeDate, fileName
			FROM (
				SELECT no, title, id, writeDate, fileName
				FROM image
<!-- 				<include refid="search" /> -->
				ORDER BY no DESC
				)
			)
		WHERE rnum BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<!-- 검색조건 Query 따로 저장하기 -->
<!-- 	<sql id="search"> -->
 		<!-- mybatis에서는 Data 자동 변환을 한다. 글자가 한 자 이면 char로 변환한다. --> 
<!-- 		<if test="word != null and word != ''"> -->
		<!-- 검색하는 데이터가 있는 경우 WHERE가 나온다. --> 
<!-- 			WHERE 1 = 0 -->
<!-- 			<if test = "key == 't'.toString()"> -->
<!-- 	   			OR title like  '%' || #{word} || '%' -->
<!--   			</if> -->
<!-- 			<if test = "key == 'c'.toString()"> -->
<!-- 	   			OR content like '%' || #{word} || '%' -->
<!--   			</if> -->
<!-- 			<if test = "key == 'w'.toString()"> -->
<!-- 	   			OR id like '%' || #{word} || '%' -->
<!--   			</if> -->
<!-- 			<if test = "key == 'tc'"> -->
<!-- 	   			OR title like '%' || #{word} || '%' -->
<!-- 	   			OR content like '%' || #{word} || '%' -->
<!--   			</if> -->
<!-- 			<if test = "key == 'tw'"> -->
<!-- 	   			OR title like  '%' || #{word} || '%' -->
<!-- 	   			OR id like  '%' || #{word} || '%' -->
<!--   			</if> -->
<!-- 			<if test = "key == 'cw'"> -->
<!-- 	   			OR content like  '%' || #{word} || '%' -->
<!-- 	   			OR id like '%' || #{word} || '%' -->
<!--   			</if> -->
<!-- 			<if test = "key == 'twc'"> -->
<!-- 	   			OR title like  '%' || #{word} || '%' -->
<!-- 	   			OR id like '%' || #{word} || '%' -->
<!-- 	   			OR content like  '%' || #{word} || '%' -->
<!--   			</if> -->
<!-- 		</if> -->
<!-- 	</sql> -->
	
	<!-- 1-1. Image 전체 글의 갯수 구하기 -->
	<select id="getTotalRow" resultType="java.lang.Long">
		SELECT count(*) FROM image
<!-- 		<include refid="search" /> -->
	</select>
	
	<!-- 2. Image view -->
	<select id="view" resultType="org.zerock.image.vo.ImageVO">
		SELECT no, title, content, id, writeDate, fileName
		FROM image
		WHERE no = #{no}
	</select>
	
	<!-- 3. Image Register -->
	<insert id="write">
		INSERT INTO image(no, title, content, id, fileName)
		VALUES(image_seq.NEXTVAL, #{title}, #{content}, #{id}, #{fileName})
	</insert>

	<!-- 4. Image File Modify -->
	<update id="updateFile">
		UPDATE image SET fileName = #{fileName}
		WHERE no = #{no} 
	</update>

	<!-- 5. Image Info Modify -->
	<update id="update">
		UPDATE image SET title = #{title}, content = #{content}
		WHERE no = #{no}
	</update>

	<!-- 5. Image 글 삭제 -->
	<delete id="delete">
		DELETE FROM image
		WHERE no = #{no} AND pw = #{pw}
	</delete>

</mapper>